body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color:lightcoral;
}

.container {
    text-align: center;
}

.converter {
    margin-top: 20px;
}

h1 {
    color: #333333;
}

input[type="number"],
select {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c00a3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
